/*-------------
HEADER SECTION
-------------- */
.header-section {
  background-image: url("../img/web-img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 9.6rem;

  position: relative;
}

.nav-section {
  margin-bottom: 4.8rem;
}

.header-section img {
  width: 16rem;
}

.navigations,
.mobile-nav-icon[name="close-outline"] {
  display: none;
}

.mobile-nav {
  background: none;
  border: none;
  font-size: 4.8rem;
  color: #fff;
  align-self: self-start;
  /* margin: 0 auto; */
}

.nav-lists {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.nav-lists li a {
  text-decoration: none;
  color: #1f2937;
  font-size: 1.8rem;
}

.btn--small {
  background-color: #fb923c;
  padding: 0.4rem 0.8rem;
  color: #fff !important;
}

/* OPEN-NAV */

.open-nav .nav-section {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}

.open-nav img,
.open-nav .mobile-nav-icon[name="menu-outline"] {
  display: none;
}

.open-nav .mobile-nav-icon[name="close-outline"] {
  display: block;
  color: #fb923c;
  /* justify-self: unset; */
}

.open-nav .navigations {
  display: block;
}

/* Hero section */
.greeting {
  color: #fff;
  font-size: 2rem;
}

.name {
  color: #fb923c;
  font-size: 3.4rem;
  line-height: 1;
  margin-bottom: 0.4rem;
}

.description {
  color: #fff;
  font-size: 2.2rem;
}

/*-------------
ABOUT SECTION
-------------- */

.about-section {
  background-color: #1f2937;
  padding: 4.8rem 0;
  /* padding-right: 6.4rem; */
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin: 0 auto;
}

.abt-container {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

/*-------------
PROFILE SECTION
-------------- */

.profile-section {
  padding: 6.4rem 0;
}

.dark {
  color: #fb923c;
}

.dark span {
  border-bottom: 2px solid #1f2937;
}

.profile-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.profile-box {
  background-color: #1f2937;
  color: #fff;
  width: 100%;
  padding: 1.6rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-icon {
  background-color: #fff;
  color: #fb923c;
  padding: 0.8rem;
  border-radius: 10000px;
}

.title-icon svg {
  width: 2.4rem;
  height: 2.4rem;
}

.box-title {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  /* text-transform: uppercasefb923c; */
}

.box-lists {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.box-item {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.box-item span {
  color: #6b7280;
}

.item-title {
  font-size: 1.4rem;
}

progress {
  width: 100%;
}

/*-------------
CONTACT SECTION
-------------- */

.contact-section {
  padding: 6.4rem 0;
  padding-bottom: 4.8rem;
  background-color: #fb923c;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.8rem;
  font-weight: 700;
  color: #333;
  border: 1px solid #fff;
}

.submit {
  width: 100%;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-color: #495057;
  color: #fff;
  border: none;
  padding: 1.2rem 0;
}

.calc-link {
  display: block;
  text-align: center;
  margin-top: 2.8rem;
  color: #fff;
  font-size: 1.6rem;
}
